<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='推文列表'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <div class="layui-fluid">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md3">
                    <fieldset class="layui-elem-field">
                        <legend>类别管理</legend>
                        <div class="layui-field-box">
                            <ul id="category"></ul>
                        </div>
                    </fieldset>
                </div>
                <div class="layui-col-md9">
                    <fieldset class="layui-elem-field">
                    <legend>推文列表</legend>
                    <div class="layui-field-box">
                        <table id="tweetList" lay-filter="tweetTable"></table>
                    </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <!--推送状态-->
        <script type="text/html" id="tweetStatus">
            {{#  if(d.tstatus === "待推送"){ }}
            <span style="color:#01AAED !important;">待推送</span>
            {{#  } else { }}
            已推送
            {{#  }}}
        </script>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="push">推送</a>
            <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="look">预览</a>
        </script>

    </div>
    <input id="nodeId" type="hidden" name="nodeId"/>
    <!-- 推送 -->
    <div id="pushTweet" class="layer_self_wrap" style="width:800px;display:none;padding: 20px">
        <form id="pushForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <input id="id" type="hidden" name="id"/>
            <div class="layui-form-item">
                <label >文章标题:</label>
                <input type="text" class="layui-input" name="topic" id="topic" required readonly  />
            </div>

            <div class="layui-form-item">
                <label >文章内容:</label>
                <div style="margin-bottom: 20px;">
                    <textarea class="layui-textarea" name="content" required th:readonly="readonly"  id="content" ></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn"  lay-submit="" lay-filter="pushTweet">推送</button>
                </div>
            </div>
        </form>
    </div>

    <div id="lookTweet" class="layer_self_wrap" style="width:800px;display:none;padding: 20px">
        <form id="lookForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label >文章标题:</label>
                <input type="text" class="layui-input" name="topic" id="ltopic" required readonly  />
            </div>

            <div class="layui-form-item">
                <label >文章内容:</label>
                <div style="margin-bottom: 20px;">
                    <textarea class="layui-textarea" name="content" required readonly  id="lcontent" ></textarea>
                </div>
            </div>
        </form>
    </div>
    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/tweet/tweetList.js"></script>
</div>
</body>
</html>