<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.submission.dao.ManuscriptMapper">
    <resultMap id="manuscriptMap" type="com.graduation.submission.pojo.Manuscript">
        <result column="id" property="id" javaType="java.lang.Integer" />
        <result column="user_id" property="userId" javaType="java.lang.Integer" />
        <result column="topic" property="topic" javaType="java.lang.String" />
        <result column="content" property="content" javaType="java.lang.String" />
        <result column="m_status" property="mStatus" javaType="java.lang.String" />
        <result column="t_status" property="tStatus" javaType="java.lang.String" />
        <result column="fee_status" property="feeStatus" javaType="java.lang.String" />
        <result column="t_category_id" property="tCategoryId" javaType="java.lang.Integer" />
        <result column="insert_time" property="insertTime" javaType="java.util.Date" />
    </resultMap>


    <insert id="newsAdd" useGeneratedKeys="true" keyProperty="id" parameterType="com.graduation.submission.pojo.Manuscript" >
        insert into manuscript
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                user_id,
            </if>
            <if test="topic != null" >
                topic,
            </if>
            <if test="content != null" >
                content,
            </if>
            <if test="mStatus != null">
                m_status,
            </if>
            <if test="tStatus != null">
                t_status,
            </if>
            <if test="feeStatus != null">
                fee_status,
            </if>
            <if test="tCategoryId != null">
                t_category_id,
            </if>
            <if test="insertTime != null" >
                insert_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                #{userId},
            </if>
            <if test="topic != null" >
                #{topic},
            </if>
            <if test="content != null" >
                #{content},
            </if>
            <if test="mStatus != null">
                #{mStatus},
            </if>
            <if test="tStatus != null">
                #{tStatus},
            </if>
            <if test="feeStatus != null">
                #{feeStatus},
            </if>
            <if test="tCategoryId != null">
                #{tCategoryId},
            </if>
            <if test="insertTime != null" >
                #{insertTime},
            </if>
        </trim>
    </insert>

    <resultMap id="manuscriptVOMap" type="com.graduation.submission.pojo.vo.ManuscriptVO">
        <result column="id" property="id" javaType="java.lang.Integer" />
        <result column="username" property="username" javaType="java.lang.String" />
        <result column="topic" property="topic" javaType="java.lang.String" />
        <result column="content" property="content" javaType="java.lang.String" />
        <result column="opinion" property="opinion" javaType="java.lang.String" />
        <result column="m_status" property="mStatus" javaType="java.lang.String" />
        <result column="t_status" property="tStatus" javaType="java.lang.String" />
        <result column="fee_status" property="feeStatus" javaType="java.lang.String" />
        <result column="insert_time" property="insertTime" javaType="java.util.Date" />
        <result column="update_time" property="updateTime" javaType="java.util.Date" />
    </resultMap>
        <select id="listManuscriptByUserId" resultMap="manuscriptVOMap">
            select id,topic,content,m_status,insert_time,update_time
            from manuscript
            where user_id = #{userId}
        </select>

        <select id="getReviewList" resultMap="manuscriptVOMap">
            select m.id,u.username,m.topic,m.content,m.m_status,m.insert_time,m.update_time
            from manuscript m,user u
            where m.user_id = u.id
            <if test="reviewSearch.author != null and reviewSearch.author != ''">
                and u.username = #{reviewSearch.author}
            </if>
            <if test="reviewSearch.title != null and reviewSearch.title != ''">
                and m.topic like CONCAT(CONCAT('%',#{reviewSearch.title}),
                '%')
            </if>
            <if test="reviewSearch.reviewStatus != null and reviewSearch.reviewStatus != ''">
                and m.m_status = #{reviewSearch.reviewStatus}
            </if>
            <if test="reviewSearch.insertTimeStart!=null and reviewSearch.insertTimeStart!=''">
                AND m.insert_time &gt;= #{reviewSearch.insertTimeStart}
            </if>
            <if test="reviewSearch.insertTimeEnd!=null and reviewSearch.insertTimeEnd!=''">
                AND m.insert_time &lt;= #{reviewSearch.insertTimeEnd}
            </if>
            ORDER BY m.insert_time DESC
        </select>

    <select id="getTweetList" resultMap="manuscriptVOMap">
        select m.id,u.username,m.topic,m.content,m.t_status,m.insert_time,m.update_time
        from manuscript m,user u
        where m.user_id = u.id
        and m.m_status = '审核通过'
        <if test="tweetSearch.author != null and tweetSearch.author != ''">
            and u.username = #{tweetSearch.author}
        </if>
        <if test="tweetSearch.title != null and tweetSearch.title != ''">
            and m.topic like CONCAT(CONCAT('%',#{tweetSearch.title}),
            '%')
        </if>
        <if test="tweetSearch.tweetStatus != null and tweetSearch.tweetStatus != ''">
            and m.t_status = #{tweetSearch.tweetStatus}
        </if>
        <if test="tweetSearch.insertTimeStart!=null and tweetSearch.insertTimeStart!=''">
            AND m.insert_time &gt;= #{tweetSearch.insertTimeStart}
        </if>
        <if test="tweetSearch.insertTimeEnd!=null and tweetSearch.insertTimeEnd!=''">
            AND m.insert_time &lt;= #{tweetSearch.insertTimeEnd}
        </if>
        ORDER BY m.insert_time DESC
    </select>

    <select id="getFinanceList" resultMap="manuscriptVOMap">
        select m.id,u.username,m.topic,m.content,m.fee_status,m.insert_time,m.update_time
        from manuscript m,user u
        where m.user_id = u.id
        and m.t_status = '已推送'
        <if test="financeSearch.author != null and financeSearch.author != ''">
            and u.username = #{financeSearch.author}
        </if>
        <if test="financeSearch.feeStatus != null and financeSearch.feeStatus != ''">
            and m.fee_status = #{financeSearch.feeStatus}
        </if>
        <if test="financeSearch.insertTimeStart!=null and financeSearch.insertTimeStart!=''">
            AND m.insert_time &gt;= #{financeSearch.insertTimeStart}
        </if>
        <if test="financeSearch.insertTimeEnd!=null and financeSearch.insertTimeEnd!=''">
            AND m.insert_time &lt;= #{financeSearch.insertTimeEnd}
        </if>
        ORDER BY m.insert_time DESC
    </select>

    <select id="getTweetListByNodeId" resultMap="manuscriptVOMap">
    select m.id,u.username,m.topic,m.content,m.t_status,m.insert_time,m.update_time
    from manuscript m,user u
    where m.user_id = u.id
    and m.m_status = '审核通过'
    and m.t_category_id = #{nodeId}
    </select>

    <select id="getManuscriptById" resultMap="manuscriptVOMap">
        select topic,content,opinion
        from manuscript
        where id = #{id}
    </select>

    <delete id="deleteManuscript" parameterType="java.lang.Integer">
        delete from manuscript
        where id = #{id}
    </delete>

    <update id="updateManuscript">
        update manuscript
        set topic = #{topic},
            content = #{content},
            m_status = #{mStatus},
            update_time = NOW()
        where id = #{id}
    </update>

    <update id="reviewPass">
        update manuscript
        set
            m_status = #{mStatus},
            t_status = '待推送',
            update_time = NOW()
        where
            id = #{id}
    </update>

    <update id="returnEdit">
        update manuscript
        set
            opinion = #{opinion},
            m_status = #{mStatus},
            update_time = NOW()
        where id = #{id}
    </update>

    <update id="addCategoryId">
        update manuscript
        set
            t_category_id = #{categoryId},
            update_time = NOW()
        where id = #{id}
    </update>

    <update id="push">
        update manuscript
        set
            t_status = '已推送',
            fee_status = '待结算',
            update_time = NOW()
        where id = #{id}
    </update>

    <update id="settle">
        update manuscript
        set
            fee_status = '已结算',
            update_time = NOW()
        where id = #{id}
    </update>

</mapper>